<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/default_main_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="content">
    <article class="article-page-wrap">
        <h1>경조사</h1>
        <table>
            <thead>
            <tr>
                <th>No</th>
                <th>제목</th>
                <th>작성자</th>
                <th>게시일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="com : ${list}">
                <td th:text="${com.id}"></td>
                <td>
                    <a th:href="@{/church/소통/com-view(id=${com.id})}"
                       th:text="${com.title}"></a>
                </td>
                <td th:text="${com.author}"></td>
                <td th:text="${#temporals.format(com.createdAt, 'yyyy.MM.dd. HH:mm')}"></td>
                <td th:text="${com.hit}"></td>
            </tr>
            </tbody>
        </table>
    </article>

    <div class="visible-pages-wrap">
        <a class="start-end-page" th:href="@{/church/소통/com-list(page = 0, searchKeyword = ${param.searchKeyword})}"><i class="fa-solid fa-angles-left" style="color: #000000;"></i></a>
        <a class="next-prev-page" th:href="@{/church/소통/com-list(page = ${currentPage-2}, searchKeyword = ${param.searchKeyword})}"><i class="fa-solid fa-angle-left" style="color: #000000;"></i></a>
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a class="unselected-page" th:href="@{/church/소통/com-list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:if="${page != currentPage}" th:text="${page}"></a>
            <Strong class="selected-page" th:if="${page == currentPage}" th:text="${page}"></Strong>
        </th:block>
        <a class="next-prev-page" th:href="@{/church/소통/com-list(page = ${currentPage}, searchKeyword = ${param.searchKeyword})}"><i class="fa-solid fa-angle-right" style="color: #000000;"></i></a>
        <a class="start-end-page" th:href="@{/church/소통/com-list(page = ${totalPages - 1}, searchKeyword = ${param.searchKeyword})}"><i class="fa-solid fa-angles-right" style="color: #000000;"></i></a>
    </div>

    <form class="search-form" th:action="@{/church/소통/com-list}">
        <div class="interaction-panel">
            <select name="" id="">

            </select>
            <input type="text" name="searchKeyword">
            <button type="submit">검색</button>
            <button type="button" class="article-write-button" onclick="location.href='com-write';">글쓰기</button>
        </div>
    </form>

</th:block>
</html>