<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment">
    <meta charset="UTF-8">
    <title>매포감리교회</title>
    <link rel="icon" href="/images/cross-solid.png">
    <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/7a79c7be2a.js"></script>
    <script type="text/javascript" th:src="@{/moduleJS/header.js}"></script>
</head>
</html>